





<h3>Date and time you  first  noticed this bug</h3>

<input type="date" name="begin" 
    placeholder="dd-mm-yyyy" value=""
    min="1997-01-01" max="2030-12-31">


    <div class="time">
      <input type="time" id="appt" name="appt"
      min="09:00" max="18:00" required>
      
    </div>
    


<div class="class">
  <p>Impact</p>
  <mat-form-field appearance="fill">
    <mat-label>Select an option</mat-label>
    <mat-select disableRipple>
      <mat-option value="low">low</mat-option>
      <mat-option value="medium ">Medium</mat-option>
      <mat-option value="high">High</mat-option>
    </mat-select>
  </mat-form-field>
  
</div>
  <mat-label>Detailed Explanation of bug</mat-label>
  <textarea matInput></textarea>
  
  



          